.heading {
    font-size: 4em;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    font-weight: bold;
    text-align: center;
}

.spinner-container {
    text-align: center;
}

.spinner-tag {
    font-size: 2em;
}

.input-select-container {
    text-align: right;
    z-index: 2;
}

.input-select-label {
    margin-right: 0.2em;
}

.beer-list {
    margin-top: -56px;
    z-index: 1;
}

@media (min-width: 576px) {
    .heading {
        text-align: left;
    }

    .beer-list {
        margin-top: 0;
    }
}
